html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}

.text-justify {
  text-align: justify;
}

.gradiant-text {
  background: linear-gradient(to left bottom, #b02985, #7263c5, #0089d8, #00a1c1, #2fb09c);
   background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  text-wrap: nowrap;
  display: inline-block;
  border-right: 2px solid #fff;
  animation: typing-text steps(40) 4s infinite, blink ease 0.3s infinite;
}
.gradient-text {
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
@keyframes typing-text {
  from {
    width: 0;
  }
  to {
    width: 350px;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}




